package ${packageName}.dao.mapper;

import ${packageName}.dto.${lowerEntityName}.${entityName}ListReqDTO;
import ${packageName}.dto.${lowerEntityName}.${entityName}ReqDTO;
import ${packageName}.dto.${lowerEntityName}.${entityName}RespDTO;
import org.apache.ibatis.annotations.*;
import java.util.List;

/**
 * @auth guozhenhua
 * @date ${ctime}
 */
public interface ${entityName}Mapper {

    String sql=" #foreach($columnEntity in $columnEntityList)`${columnEntity.tableColumnName}`#if($foreach.count<$columnEntityList.size()),#end#end ";
    @Select("select "+sql+" from ${database}.${tableName} where id=#{id} and `is_delete`=0 ")
    ${entityName}RespDTO getById(@Param("id") String id);

    @Insert("insert into ${database}.${tableName}(#foreach($columnEntity in $columnEntityList)`${columnEntity.tableColumnName}`#if($foreach.count<$columnEntityList.size()),#end#end)" +
            "values (#foreach($columnEntity in $columnEntityList) #{${columnEntity.tableColumnName}}#if($foreach.count<$columnEntityList.size()),#end#end)")
    void create${entityName}(${entityName}ReqDTO ${firstLowerEntityName}ReqDTO);

    @UpdateProvider(type = ${entityName}Provider.class, method = "update${entityName}")
    boolean update${entityName}(${entityName}ReqDTO ${firstLowerEntityName}ReqDTO);

    @Update("update ${database}.${tableName} set `is_delete`=1 where id=#{id} and `is_delete`=0 ")
    boolean del${entityName}(@Param("id") String id);

    @SelectProvider(type = ${entityName}Provider.class, method = "list${entityName}ByPage")
    List<${entityName}RespDTO> list${entityName}ByPage(${entityName}ListReqDTO ${firstLowerEntityName}ListReqDTO);

    @SelectProvider(type = ${entityName}Provider.class, method = "list${entityName}Count")
    Integer list${entityName}Count(${entityName}ListReqDTO ${firstLowerEntityName}ListReqDTO);

}
